body{
    margin: 0;
    padding: 0;
}
nav .nav{ 
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
   
    
    }

    nav  .nav:hover{ 
    background: white; 
    color: black;
    }
    #nav{
        background-color: #222222;
        height: 600px;
    }
    .navbackground{
        background-color: #222222;
        font-weight: bold;
    }
    .parent{
        display: flex;
        justify-content: flex-start;
    }
    .parenNav{
        min-height:500px;
        width: 200px;
        background-color: #222222;
        margin: 0;
    }